extends layout

block content
	nav.navbar.navbar-inverse.navbar-fixed-top
		div.container-fluid
			div.navbar-header
				a.navbar-brand(href='#')
					img(alt='B') 
					//-src='/images/logo.jpg' style='width:50px;height:50px')

	div.container-fluid.index-body
		div.row
			div.col-md-3 md3
			div.col-md-9 md9