doctype html
html
	head
		block head
			title= title
			//- link(href='/bootstrap/dist/css/bootstrap.min.css')
			//- script(src='/jquery/dist/jquery.min.js')
			link(rel='stylesheet' href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
			link(rel='stylesheet' href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap-theme.min.css')
			script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
			script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')
			meta(charset='utf-8')
	body
		block content

	foot
		block foot
