extends layout

block content
	nav.navbar.navbar-inverse
	ul.nav.nav-pills.nav-stacked
		li.active(role='presentation')
			a home1
		li(role='presentation')
			a home2
		li(role='presentation')
			a home3
	h1 title
	h2 Welcome to #{title}
	p
		kbd shift
	p
		s.text-right.text-uppercase hahaha